.cover__link {
  width: 100%;
  aspect-ratio: 8 / 5;


  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34px;

  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
}


.cover__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* вместо ширины и высоты можно прописать нулевые значения для bottom и right */
  width: 100%;
  height: 100%;
  background-color: #2a2c2f4d;
  transition: 0.2s;
}

.cover__link:hover::after {
  background-color: #2a2c2fcc;
}

@media screen and (max-width: 767px) {
  .cover__link {
    gap: 16px;
  }
}
