.cover__subtitle {
  padding: 0;
  margin: 0;
  width: 360px;
  /* height: 66px; */

  color: white;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    width: 288px;
    /* height: 48px; */
    font-size: 14px;
    line-height: 16px;
  }
}
