.header {
  padding: 28px 48px;
  width: 100%;
  box-sizing: border-box;
  background-color: #2a2c2f;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


.header__languages {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 18px
}

.header__lang-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
/* identical to box height, or 117% */
  text-align: right;
  color: white;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 16px;
    align-items: center;
  }

  .header__logo {
    width: 142px;
    height: 42px;
  }

  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
