.intro {
  width: 100%;
  padding: 46px 148px;
  box-sizing: border-box;
  align-self: flex-start;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-color: #2a2c2f;
}

/* .intro__title {
  margin: 0;
  text-align: left;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;

  color: #ffffff;
} */

/* .intro__text {
  max-width: 690px;
  margin: 0;
  padding: 40px 0 33px;
  text-align: left;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;


  color: #ffffff;
} */

/* .intro__list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;


  color: #ffffff;
} */

/* .intro__span-accent {
  font-weight: normal;
} */

@media screen and (max-width: 1279px) {
  .intro {
    padding: 46px 48px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    padding: 44px 24px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 32px 16px;
  }

  /* .intro__title {
    font-size: 32px;
    line-height: 35px;

  } */

  /* .intro__text {
    padding-bottom: 34px;
  } */
}
