.cover {
  max-width: 1280px;
  box-sizing: border-box;
  padding: 46px;

  background-color: #2a2c2f;
}

@media screen and (max-width: 1279px) {
  .cover {
    padding: 46px 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    padding: 45px 0;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    padding: 33px 0 32px;
  }
}
