.cover__overlay {
  position: absolute;
  width: 100%;
  /* height: 100%; */
  display: flex;
  /* 26px гап больше похож на макет по пп*/
  gap: 34px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    gap: 16px;
  }
}
